<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.awesomekorean.podo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".lesson.LessonSpecialFrame"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".writing.WritingCorrection" />
        <activity android:name=".purchase.TopUp" />
        <activity android:name=".purchase.Subscribe" />
        <activity android:name=".profile.Profile" />
        <activity android:name=".message.Message" />
        <activity android:name=".lesson.LessonFinish" />
        <activity android:name=".qna.QnaDetail" />
        <activity android:name=".qna.AskQuestion" />
        <activity android:name=".Logo" />
        <activity android:name=".login.SignUp" />
        <activity android:name=".teachers.Teachers"></activity>
        <activity android:name=".login.SignIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".collection.CollectionStudy" />
        <activity android:name=".collection.CollectionFlashCard" />
        <activity
            android:name=".writing.WritingFrame"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".reading.ReadingFrame" />
        <activity android:name=".lesson.LessonFrame" />
        <activity android:name=".lesson.lessonHangul.LessonHangulAssembly" />
        <activity android:name=".lesson.lessonHangul.LessonHangul" />
        <activity android:name=".lesson.lessonHangul.LessonHangulMenu" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustNothing"></activity>
    </application>

</manifest>