<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.awesomekorean.podo">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".qna.QnAReplied"></activity>
        <activity android:name=".qna.QnAFrame" />
        <activity android:name=".GetRandomPoint" />
        <activity
            android:name=".CollectResult"
            android:screenOrientation="unspecified"
            android:theme="@style/DialogFullScreen" />
        <activity
            android:name=".LoadingPage"
            android:screenOrientation="unspecified"
            android:theme="@style/DialogFullScreen" />
        <activity
            android:name=".lesson.IntermediateFrame"
            android:screenOrientation="portrait" />
        <activity android:name=".lesson.LessonReviewFrame" />
        <activity android:name=".writing.WritingReturned" />
        <activity
            android:name=".DailyMission"
            android:screenOrientation="unspecified"
            android:theme="@style/DialogFullScreen" />

        <service
            android:name=".FirebaseCloudMessage"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".CloudMessageReceiver"
            android:screenOrientation="unspecified"
            android:theme="@style/DialogFullScreen" />
        <activity
            android:name=".ConfirmQuit"
            android:screenOrientation="unspecified"
            android:theme="@style/DialogFullScreen" />
        <activity
            android:name=".UnlockActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/DialogFullScreen" />
        <activity
            android:name=".lesson.lessonNumber.LessonNumberMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson.lessonNumber.LessonNumber"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson.LessonSpecialFrame"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/happy" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/PURPLE" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ADMOB_APP_ID" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".writing.WritingCorrected"
            android:screenOrientation="portrait" />
        <activity
            android:name=".purchase.TopUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".profile.Profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.Message"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson.LessonFinish"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Logo"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".login.SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".teachers.Teachers"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.SignIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".collection.CollectionStudy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".collection.CollectionFlashCard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".writing.WritingFrame"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".reading.ReadingFrame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson.LessonFrame"
            android:screenOrientation="portrait" />
        <activity
            android:name=".lesson.lessonHangul.LessonHangulAssembly"
            android:screenOrientation="portrait" />
        <activity android:name=".lesson.lessonHangul.LessonHangul" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>